@model desafio_OCTO.Models.PessoaFisica

@{ 
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <div class="quadro_principal_lista">
            <h1 class="text-center">Detalhes do cliente</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Profissao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Profissao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EstadoCivil)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RG)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RG)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CPF)
                </dd>
                <dt class="col-sm-12">
                    Endereços:
                </dt>
                @foreach (Endereco e in Model.Enderecos)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.TipoEndereco)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.TipoEndereco)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.Estado)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.Cidade)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.Cidade)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.Bairro)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.Bairro)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.Rua)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.Rua), @Html.DisplayFor(endereco => e.Numero)

                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(endereco => e.CEP)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(endereco => e.CEP)
                    </dd>
                }
                <dt class="col-sm-12">
                    Contatos:
                </dt>
                @foreach (Contato c in Model.Contatos)
                {

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(contato => c.TipoContato)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(contato => c.TipoContato)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(contato => c.Numero)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(contato => c.Numero)
                    </dd>
                }
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
                <a asp-action="Index">Voltar para a lista</a>
            </div>
        </div>
    </div>
</div>